<a href="https://colab.research.google.com/github/Athitiya00/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/.../1D... )
* โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ
* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

**ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565**

# โหลด Data

In [1]:
from google.colab import drive ## เชื่อมต่อ Drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os ## import os เลือกเส้นทางในการเชื่อมต่อ ทำการเลือก folder ที่ใช้เก็บ data ในที่นี้คือ Final_Exam
path = '/content/drive/My Drive/Final_Exam'

In [3]:
import pandas as pd ## ทำการ import pandas ในชื่อ pd เพื่อใช้ในการเขียนโค้ด
import numpy as np ##ทำการ import numpy ในชื่อ np เพื่อใช้ในการเขียนโค้ด

## การตรวจโรค(ov)

In [49]:
alldb =  pd.read_csv(os.path.join(path,'alldb.csv')) ## ทำการนำเข้าข้อมูล การตรวจโรค(ov) โดยการเรียกใช้ข้อมูลประเภท .csv ใน drive ไฟล์ที่เรียกใช้คือ alldb.csv # โดยตั้งชื่ตารางว่า alldb
alldb.head() ## แสดงตาราง alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

In [50]:
alldb.shape#ดูขนาด

(40035, 14)

In [19]:
alldb.dtypes

Unnamed: 0       int64
user            object
RowKey          object
care            object
date            object
ov              object
phone           object
site            object
time            object
urine           object
pid             object
PartitionKey    object
title           object
age             object
dtype: object

### เปลี่ยนข้อมูลให้เป็นไปตามข้อกำหนด

user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [77]:
alldb = alldb[(alldb['user'].astype(str).str.isdigit()) & (alldb['user'].str.len() == 5)]
print(alldb.shape)
alldb.head()

(38287, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
38,38,48368,cttsajptww.png,NaN,2022-02-24,1,OPPO CPH1969,05081,10:31:10,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
44,44,40881,dzvoblimkf.png,NaN,2022-02-26,2,HUAWEI STK-L22,05435,09:32:32,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
54,54,56845,ftuhzneacx.png,NaN,2022-03-02,0,Samsung SM-A505F,05440,10:09:13,สีเหลืองส้ม (ผิดปกติ),NaN,NaN,data is not completed,data is not completed
65,65,12345,hcexfrixlo.png,NaN,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
72,72,99250,hynbuxzgpf.png,NaN,2022-02-27,3,Xiaomi 2109119DG,11066,16:12:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

RowKey เป็น String

In [78]:
alldb['RowKey'] = alldb['RowKey'].astype('str')
print(alldb.shape)
alldb.head()

(38287, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
38,38,48368,cttsajptww.png,NaN,2022-02-24,1,OPPO CPH1969,05081,10:31:10,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
44,44,40881,dzvoblimkf.png,NaN,2022-02-26,2,HUAWEI STK-L22,05435,09:32:32,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
54,54,56845,ftuhzneacx.png,NaN,2022-03-02,0,Samsung SM-A505F,05440,10:09:13,สีเหลืองส้ม (ผิดปกติ),NaN,NaN,data is not completed,data is not completed
65,65,12345,hcexfrixlo.png,NaN,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
72,72,99250,hynbuxzgpf.png,NaN,2022-02-27,3,Xiaomi 2109119DG,11066,16:12:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

date เป็น YYYY-MM-DD

In [79]:
import datetime ## ทำการ import package datetime 
alldb = pd.DataFrame(alldb) 
alldb['date'] = pd.to_datetime(alldb['date']) ##, format = "%d/%m/%Y" 
print(alldb.shape)
alldb.head()

(38287, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
38,38,48368,cttsajptww.png,NaN,2022-02-24,1,OPPO CPH1969,05081,10:31:10,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
44,44,40881,dzvoblimkf.png,NaN,2022-02-26,2,HUAWEI STK-L22,05435,09:32:32,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
54,54,56845,ftuhzneacx.png,NaN,2022-03-02,0,Samsung SM-A505F,05440,10:09:13,สีเหลืองส้ม (ผิดปกติ),NaN,NaN,data is not completed,data is not completed
65,65,12345,hcexfrixlo.png,NaN,NaT,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
72,72,99250,hynbuxzgpf.png,NaN,2022-02-27,3,Xiaomi 2109119DG,11066,16:12:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

phone เป็น String

In [80]:
alldb['phone'] = alldb['phone'].astype('str')
print(alldb.shape)
alldb.head()

(38287, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
38,38,48368,cttsajptww.png,NaN,2022-02-24,1,OPPO CPH1969,05081,10:31:10,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
44,44,40881,dzvoblimkf.png,NaN,2022-02-26,2,HUAWEI STK-L22,05435,09:32:32,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
54,54,56845,ftuhzneacx.png,NaN,2022-03-02,0,Samsung SM-A505F,05440,10:09:13,สีเหลืองส้ม (ผิดปกติ),NaN,NaN,data is not completed,data is not completed
65,65,12345,hcexfrixlo.png,NaN,NaT,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
72,72,99250,hynbuxzgpf.png,NaN,2022-02-27,3,Xiaomi 2109119DG,11066,16:12:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [81]:
alldb = alldb[(alldb['site'].astype(str).str.isdigit()) & (alldb['site'].str.len() == 5)]
print(alldb.shape)
alldb.head()

(38274, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
38,38,48368,cttsajptww.png,NaN,2022-02-24,1,OPPO CPH1969,05081,10:31:10,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
44,44,40881,dzvoblimkf.png,NaN,2022-02-26,2,HUAWEI STK-L22,05435,09:32:32,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
54,54,56845,ftuhzneacx.png,NaN,2022-03-02,0,Samsung SM-A505F,05440,10:09:13,สีเหลืองส้ม (ผิดปกติ),NaN,NaN,data is not completed,data is not completed
72,72,99250,hynbuxzgpf.png,NaN,2022-02-27,3,Xiaomi 2109119DG,11066,16:12:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
74,74,77645,iciurjxsbw.png,NaN,2022-02-25,0,Samsung SM-N960F,05084,13:14:20,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

time เป็น hh-mm-ss

In [94]:
import datetime ## ทำการ import package datetime 
alldb = pd.DataFrame(alldb) 
alldb['time'] = pd.to_datetime(alldb['time'],format= '%H:%M:%S' ).dt.time
print(alldb.shape)
alldb.head()

(38172, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),NaN,00001,นาย,66

urine มีค่า String

In [83]:
alldb['urine'] = alldb['urine'].astype('str')
print(alldb.shape)
alldb.head()

(38274, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
38,38,48368,cttsajptww.png,NaN,2022-02-24,1,OPPO CPH1969,05081,10:31:10,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
44,44,40881,dzvoblimkf.png,NaN,2022-02-26,2,HUAWEI STK-L22,05435,09:32:32,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
54,54,56845,ftuhzneacx.png,NaN,2022-03-02,0,Samsung SM-A505F,05440,10:09:13,สีเหลืองส้ม (ผิดปกติ),NaN,NaN,data is not completed,data is not completed
72,72,99250,hynbuxzgpf.png,NaN,2022-02-27,3,Xiaomi 2109119DG,11066,16:12:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
74,74,77645,iciurjxsbw.png,NaN,2022-02-25,0,Samsung SM-N960F,05084,13:14:20,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [84]:
alldb = alldb.dropna(subset=['ov'])
print(alldb.shape)
alldb.head()

(38274, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
38,38,48368,cttsajptww.png,NaN,2022-02-24,1,OPPO CPH1969,05081,10:31:10,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
44,44,40881,dzvoblimkf.png,NaN,2022-02-26,2,HUAWEI STK-L22,05435,09:32:32,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
54,54,56845,ftuhzneacx.png,NaN,2022-03-02,0,Samsung SM-A505F,05440,10:09:13,สีเหลืองส้ม (ผิดปกติ),NaN,NaN,data is not completed,data is not completed
72,72,99250,hynbuxzgpf.png,NaN,2022-02-27,3,Xiaomi 2109119DG,11066,16:12:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
74,74,77645,iciurjxsbw.png,NaN,2022-02-25,0,Samsung SM-N960F,05084,13:14:20,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

In [85]:
set(alldb['ov'])

{0, 1, 2, 3, 4}

In [86]:
alldb['ov'].replace({'ปกติ (เหลืองใส)':'0',
 'ขุ่น':'0',
 'ติดเชื้อ +2 ':'0',
 'ปกติ (เหลืองใส)':'0',
 'มีตะกอน':'0',
 'มีเม็ดเลือดแดง':'0',
 'สีน้ำนม':'0',
 'สีฟ้า หรือน้ำเงิน':'0',
 'ใสเป็นน้ำเปล่า':'0'}, inplace=True)

In [87]:
set(alldb['ov'])

{0, 1, 2, 3, 4}

In [88]:
alldb['ov'] = alldb['ov'].astype('int')
print(alldb.shape)
alldb.head()

(38274, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
38,38,48368,cttsajptww.png,NaN,2022-02-24,1,OPPO CPH1969,05081,10:31:10,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
44,44,40881,dzvoblimkf.png,NaN,2022-02-26,2,HUAWEI STK-L22,05435,09:32:32,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
54,54,56845,ftuhzneacx.png,NaN,2022-03-02,0,Samsung SM-A505F,05440,10:09:13,สีเหลืองส้ม (ผิดปกติ),NaN,NaN,data is not completed,data is not completed
72,72,99250,hynbuxzgpf.png,NaN,2022-02-27,3,Xiaomi 2109119DG,11066,16:12:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
74,74,77645,iciurjxsbw.png,NaN,2022-02-25,0,Samsung SM-N960F,05084,13:14:20,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [89]:
alldb = alldb[(alldb['PartitionKey'].astype(str).str.isdigit()) & (alldb['PartitionKey'].str.len() == 5)]
print(alldb.shape)
alldb.head()

(38172, 14)

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),NaN,00001,นาย,66

In [90]:
alldb_df= alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] ## กำหนดตารางชื่อ alldb_df โดยเลือกเก็บข้อมูลในตาราง alldb จำนวน 9  คอลัมน์ 
alldb_df ## แสดงตาราง

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [95]:
alldb_df.dtypes

user                    object
RowKey                  object
date            datetime64[ns]
phone                   object
site                    object
time                    object
urine                   object
ov                       int64
PartitionKey            object
dtype: object

## ข้อมูลโรงพยาบาล

In [92]:
hospital_list =  pd.read_excel(os.path.join(path,'hospital_list.xlsx')) ## ทำการนำเข้าข้อมูล โรงพยาบาล โดยการเรียกใช้ข้อมูลประเภท .xlsx ใน drive ไฟล์ที่เรียกใช้คือ hospital_list.xlsx # โดยตั้งชื่ตารางว่า hospital_list
hospital_list.head() ## แสดงตาราง hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG

In [93]:
hospital_list.dtypes

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

# ตรวจสอบ Missing