<a href="https://colab.research.google.com/github/Athitiya00/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd   
import os

In [3]:
from google.colab import drive    # เชื่อมต่อกับ google drive ที่เราเก็บข้อมูลไว้
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2022_data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv')    # ไฟล์ที่เราต้องการ
data_df = pd.read_csv(data_file_path)

In [5]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

### ตรวจสอบค่าใน column

In [6]:
import numpy as np

In [7]:
set(data_df['province_of_onset']) #set ถ้าเกิดว่าสมาชิกที่เหมือนกันมันจะนับเป็น1ตัว

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

# ต่อตาราง
* ต่อตารางในแนวแกน Y (เพิ่มจำนวนข้อมูล)
* ต่อตารางในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

## ต่อตารางในแนวแกน Y (เพิ่มจำนวนข้อมูล)

In [8]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [9]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

### ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [10]:
dataBKKKKC = pd.concat([BKK,KKC])
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [11]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])
dataBKKKKC

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5592 rows x 10 columns]

### ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [12]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['sex','age','nationality']]
BKK2.head()

    sex   age nationality
0  หญิง  61.0       China
1  หญิง  74.0       China
3   ชาย  68.0       China
4  หญิง  66.0       China
5  หญิง  33.0       China

In [13]:
KKC2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','sex']]
KKC2.head()

       age nationality   sex
180   33.0    Thailand   ชาย
462   36.0    Thailand  หญิง
1466  19.0    Thailand   ชาย
1970  70.0    Thailand  หญิง
2637  63.0    Thailand  หญิง

In [14]:
pd.concat([BKK2,KKC2])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    ชาย  20.0    Thailand
10610   ชาย  17.0    Thailand
11517   ชาย  12.0    Thailand
11697  หญิง  17.0    Thailand
11698  หญิง  37.0    Thailand

[2803 rows x 3 columns]

In [15]:
KKC3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','risk']]
KKC3.head()

       age nationality                                           risk
180   33.0    Thailand                                        สนามมวย
462   36.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  19.0    Thailand                  คนไทยเดินทางกลับจากต่างประเทศ
1970  70.0    Thailand  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  63.0    Thailand                  สัมผัสผู้เดินทางจากต่างประเทศ

In [16]:
KKC4 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality',]]
KKC4.head()

       age nationality
180   33.0    Thailand
462   36.0    Thailand
1466  19.0    Thailand
1970  70.0    Thailand
2637  63.0    Thailand

In [17]:
pd.concat([BKK2,KKC4])

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
9334    NaN  20.0    Thailand
10610   NaN  17.0    Thailand
11517   NaN  12.0    Thailand
11697   NaN  17.0    Thailand
11698   NaN  37.0    Thailand

[2803 rows x 3 columns]

## ต่อตารางในแนวแกน X (เพิ่มรายละเอียดของข้อมูล)

In [18]:
personal_data = data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [19]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']]
covid_data.head()

   No. announce_date  ... province_of_onset                              risk
0    1     1/12/2020  ...     กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...     กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...            นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...     กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...     กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 5 columns]

In [20]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid_data.head() #sample(frac=1) คำสั่งสลับแถว

         No. announce_date  ... province_of_onset                    risk
8456    8457      1/5/2021  ...         สิงห์บุรี  Cluster บ่อนไก่อ่างทอง
11310  11311     1/15/2021  ...         สมุทรสาคร       Cluster สมุทรสาคร
5151    5152    12/21/2020  ...         สมุทรสาคร       Cluster สมุทรสาคร
7123    7124      1/1/2021  ...               NaN    อยู่ระหว่างการสอบสวน
3702    3703    10/21/2020  ...     กรุงเทพมหานคร        State Quarantine

[5 rows x 5 columns]

### เอาตารางสองอันมาต่อกัน

In [21]:
personalcovid_data = personal_data.merge(covid_data)
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

In [22]:
personalcovid_data = covid_data.merge(personal_data)
personalcovid_data.head()

     No. announce_date province_of_isolation  ...   sex   age nationality
0   8457      1/5/2021             สิงห์บุรี  ...   ชาย  34.0    Thailand
1  11311     1/15/2021             สมุทรสาคร  ...   ชาย  37.0       Burma
2   5152    12/21/2020             สมุทรสาคร  ...   NaN   NaN       Burma
3   7124      1/1/2021              จันทบุรี  ...   NaN   NaN    Cambodia
4   3703    10/21/2020               นนทบุรี  ...  หญิง  31.0    Thailand

[5 rows x 8 columns]

## Save Table

In [23]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv')) # เซฟใน drive

In [24]:
personalcovid_data.to_csv('my_processed_data.csv') #เซฟในcolab

## Groupy

In [25]:
data_df.groupby('nationality').count()

                No.  announce_date  ...  district_of_onset  risk
nationality                         ...
Afghanistan       1              1  ...                  1     1
Albania           3              3  ...                  2     3
American          1              1  ...                  1     1
American          1              1  ...                  1     1
American Samoa    1              1  ...                  1     1
...             ...            ...  ...                ...   ...
deutsch           1              1  ...                  1     1
thailand          2              2  ...                  2     2
ต่างด้าว         21             21  ...                 21    21
ไทยใหญ่           1              1  ...                  1     1
ไทใหญ่            1              1  ...                  1     1

[100 rows x 9 columns]

In [26]:
data_df.groupby('nationality').mean()

                         No.        age
nationality
Afghanistan      4346.000000  31.000000
Albania          2377.333333  40.666667
American         3862.000000  39.000000
American         3905.000000  46.000000
American Samoa  11687.000000  21.000000
...                      ...        ...
deutsch          3898.000000  55.000000
thailand         6823.000000  53.500000
ต่างด้าว         2944.952381  20.000000
ไทยใหญ่         10379.000000  30.000000
ไทใหญ่           5983.000000  33.000000

[100 rows x 2 columns]

In [27]:
data_df.groupby('nationality')['age'].min()

nationality
Afghanistan       31.0
Albania           33.0
American          39.0
American          46.0
American Samoa    21.0
                  ...
deutsch           55.0
thailand          50.0
ต่างด้าว          13.0
ไทยใหญ่           30.0
ไทใหญ่            33.0
Name: age, Length: 100, dtype: float64

In [28]:
data_df.groupby('nationality').min(' ')

                  No.   age
nationality
Afghanistan      4346  31.0
Albania          1480  33.0
American         3862  39.0
American         3905  46.0
American Samoa  11687  21.0
...               ...   ...
deutsch          3898  55.0
thailand         6822  50.0
ต่างด้าว         2227  13.0
ไทยใหญ่         10379  30.0
ไทใหญ่           5983  33.0

[100 rows x 2 columns]

## Create pandas table

ไว้ใส่รูป

### Dictionary(row oriented)

In [32]:
import pandas as pd

In [35]:
data_list =  [ {'account':'Jones LLC','Jan':150,'Feb':200,'Mar':140},
                   {'account':'Alpha Co','Jan':200,'Feb':210,'Mar':215},
                   {'account':'Blue Inc','Jan':50,'Feb':90,'Mar':95} ]

In [36]:
data_list

[{'Feb': 200, 'Jan': 150, 'Mar': 140, 'account': 'Jones LLC'},
 {'Feb': 210, 'Jan': 200, 'Mar': 215, 'account': 'Alpha Co'},
 {'Feb': 90, 'Jan': 50, 'Mar': 95, 'account': 'Blue Inc'}]

In [37]:
df1 = pd.DataFrame(data_list)
df1

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

### List(row oriented)

In [38]:
data = [ ['Jomes LLC',150,200,140],
             ['Alpha Co',200,210,215],
             ['Blue Inc',50,90,95] ]
header = ['account','Jan','Feb','Mar']

In [39]:
df2 = pd.DataFrame.from_records(data,columns=header)
df2

     account  Jan  Feb  Mar
0  Jomes LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

### Dictionary(column oriented)

In [40]:
data_dict ={'account': ['Jomes LLC','Alpha Co','Blue Inc'],
                  'Jan' : [150,200,50],
                  'Feb' : [200,210,90],
                  'Mar' : [140,215,95],
            }

In [42]:
df3 = pd.DataFrame.from_records(data_dict) #เรียงไม่เหมือนอาจารย์ เนื่องจากคุณสมบัติของตัวdict
df3

   Feb  Jan  Mar    account
0  200  150  140  Jomes LLC
1  210  200  215   Alpha Co
2   90   50   95   Blue Inc

### List(column oriented) ติดbug

In [48]:
#ติดbug
#data_item = ['account',['Jomes LLC','Alpha Co','Blue Inc']],
#                    ['Jan',[150,200,50]],
#                    ['Feb',[200,210,90]],
#                   ['Mar',[140,215,95]]
#                 ]

IndentationError: ignored

# Quiz กลุ่ม ครั้ง 3
ออกแบบและสร้างตาราง pandas datafrme ที่ สามารถนำมาดึงข้อมูลด้วย pandas ได้

![image.png]()

In [55]:
data_dict1 = { 'จังหวัด':['อำนาจเจริญ, บึงกาฬ, บุรีรัมย์, ชัยภูมิ, กาฬสินธุ์, ขอนแก่น, เลย, มหาสารคาม, มุกดาหาร, นครพนม, นครราชสีมา, หนองบัวลำภู, หนองคาย, ร้อยเอ็ด, สกลนคร, ศรีสะเกษ, สุรินทร์, อุบลราชธานี, อุดรธานี, ยโสธร','เชียงใหม่, เชียงราย, ลำปาง, ลำพูน, แม่ฮ่องสอน, น่าน, พะเยา, แพร่, อุตรดิตถ์','ตาก','สุโขทัย, พิษณุโลก, พิจิตร, กำแพงเพชร, เพชรบูรณ์','นครสวรรค์, อุทัยธานี','อ่างทอง, ชัยนาท, พระนครศรีอยุธยา, กรุงเทพมหานคร, ลพบุรี, นครปฐม, นนทบุรี, ปทุมธานี, สมุทรปราการ, สมุทรสาคร, สมุทรสงคราม, สระบุรี, สิงห์บุรี, สุพรรณบุรี','นครนายก','ฉะเชิงเทรา, จันทบุรี, ชลบุรี, ปราจีนบุรี, ระยอง, สระแก้ว, ตราด','กาญจนบุรี, ราชบุรี','เพชรบุรี, ประจวบคีรีขันธ์','ชุมพร, นครศรีธรรมราช, นราธิวาส, ปัตตานี, พัทลุง, สงขลา, สุราษฎร์ธานี, ยะลา','กระบี่, พังงา, ภูเก็ต, ระนอง, สตูล, ตรัง'],
              '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันตก','ตะวันตก','ใต้','ใต้'],
              '4 ภูมิภาค (การเมือง)':['ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้'],
              '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','ตะวันออก','ตะวันออก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
              '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','ตะวันออก','กลาง','กลาง','ใต้','ใต้']
}

In [56]:
Quiz = pd.DataFrame.from_dict(data_dict1)
Quiz

                                              จังหวัด  ... 5 ภูมิภาค (การท่องเที่ยว)
0   อำนาจเจริญ, บึงกาฬ, บุรีรัมย์, ชัยภูมิ, กาฬสิน...  ...        ตะวันออกเฉียงเหนือ
1   เชียงใหม่, เชียงราย, ลำปาง, ลำพูน, แม่ฮ่องสอน,...  ...                     เหนือ
2                                                 ตาก  ...                     เหนือ
3     สุโขทัย, พิษณุโลก, พิจิตร, กำแพงเพชร, เพชรบูรณ์  ...                     เหนือ
4                                นครสวรรค์, อุทัยธานี  ...                     เหนือ
5   อ่างทอง, ชัยนาท, พระนครศรีอยุธยา, กรุงเทพมหานค...  ...                      กลาง
6                                             นครนายก  ...                      กลาง
7   ฉะเชิงเทรา, จันทบุรี, ชลบุรี, ปราจีนบุรี, ระยอ...  ...                  ตะวันออก
8                                  กาญจนบุรี, ราชบุรี  ...                      กลาง
9                           เพชรบุรี, ประจวบคีรีขันธ์  ...                      กลาง
10  ชุมพร, นครศรีธรรมราช, นราธิวาส, ปัตตานี, พัทลุ...  ...                       ใต้
11           กระบี่, พังงา, ภูเก็ต, ระนอง, สตูล, ตรัง  ...                       ใต้

[12 rows x 5 columns]